/* Colors */

$main: #3333ff;
$border: #e3e3e3;
$text-dark: #252525;

/* Fonts */

$lato: 'Lato', 'Arial', sans-serif;
$roboto: 'Roboto', 'Arial', sans-serif;

/*  Viewports */

$desktop-width: 1280px;

$tablet-width: 1023px;

$mobile-width-only: 767px;

$mobile-width-medium: 500px;
